/* font-family  */
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h3 {
  font-family: "Times New Roman", Times, serif;
}

header {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo {
  color: #dcf9ffb7;
  font-size: 30px;
  text-decoration: none;
  font-weight: 800 bold;
  letter-spacing: 10px;
  margin-right: 300px;
}
header.nav-wrapper {
  position: -webkit-sticky; /* Dành cho các trình duyệt webkit */
  position: sticky;
  top: 0; /* Đính header ở đầu trang */
  z-index: 1000; /* Đảm bảo header nằm trên các phần tử khác */
}
.nav-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 10px 6px 15px;
  padding: 0.5rem 0;
  position: sticky;
  z-index: 30;
  /* nó sẽ ẩn cái navbar sau background; */
  backdrop-filter: blur(20px);
}

.nav-content {
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 0 auto;
  padding-right: 30px;
  padding-top: 20px;
}

.nav-content ul.nav-items {
  display: flex;
  gap: 150px;
  align-items: center;
  list-style: none;
  justify-content: center;
}

.nav-content ul.nav-items a {
  font-family: "Montserrat";
  list-style-type: none;
  text-decoration: none;
}
.menu-items {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: #dcf9ffb7;
  position: relative;
  cursor: pointer;
}
.menu-items::before {
  content: "";
  width: 2rem;
  height: 0.2rem;
  background: linear-gradient(100deg, #b1e1f1, #f6b9b9c6 100%);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.5rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.3s ease;
}
.menu-items:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
  text-align: center;
}
